<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.xpandit.kaseya" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kaseya Agent</name>
  <description>
        Application to enable communication to the Kaseya API
    </description>
  <author email="tshimanga@gmail.com" href="http://example.com.com/">
      Frederick Tshimanga
    </author>
  <content src="index.html"/>
  <access origin="http://freegeoip.net/json/*"/>
  <access origin="*://demo.xpandit.co.za:8000/*"/>
  <access origin="*://*.ionic.io/*"/>
  <allow-navigation href="data:*"/>
  <allow-navigation href="*://support.xpandit.co.za/*"/>
  <allow-intent href="*://support.xpandit.co.za/*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="SocialSharing">
    <param name="android-package" value="nl.xservices.plugins.SocialSharing"/>
  </feature>
  <feature name="SocialSharing">
    <param name="ios-package" value="SocialSharing"/>
  </feature>
</widget>