<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <h2>System Setting</h2>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-radio>Radio</ion-radio>
            <ion-radio>Radio</ion-radio>
            <div class="spacer" style="height: 100px;"></div>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <button class="button button-dark button-block  icon ion-checkmark button-full"> Save</button>
        </form>
    </ion-content>
</ion-view>