<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <h1>Kaseya API</h1>
        <h3>XpandIT Interphaze</h3>
        <div>
            <p>Access the
                <strong>Kaseya</strong>API through
                <strong>XpandIT</strong>profile</p>
        </div>
        <div class="list card">
            <div class="item item-divider">Agent</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Organisation</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Users</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>