<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <h1>Kaseya API</h1>
        <h3>XpandIT Interphaze</h3>
        <div>
            <p>Access the
                <strong>Kaseya</strong>API through
                <strong>XpandIT</strong>profile</p>
        </div>
        <div class="list card" ui-sref="main.organisation.list">
            <div class="item item-divider">Organisation</div>
            <div class="item item-body">
                Returns the organisations the logged in User can access.
            </div>
        </div>
        <div class="list card" ui-sref="main.group.list">
            <div class="item item-divider">Group</div>
            <div class="item item-body">
                List of all MachineGroups the authenticated account has privileges to see
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Agent <small class="assertive">Select group first</small></div>
            <div class="item item-body">
                Gets a list of all agent deploy package URL's available to the logged on user.<br/>
                This is only available once an organisation is selected
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Machine <small class="assertive">Under construction</small></div>
            <div class="item item-body">
                Returns an array of machine Uptime statistics for a submitted AgentGuid or machineGroup or all machines (when return all records is set to true).<br/>
                Filter by report Date sets the starting sample date of the calculation to current. All returns security filtered.
            </div>
        </div>
    </ion-content>
</ion-view>