<ion-view title="Organisation Create">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="name">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="contact">
                    <span class="input-label">Contact</span>
                    <input type="tel" placeholder="Telephone or Cell">
                </label>
                <label class="item item-input" name="email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email address">
                </label>
            </ion-list>
            <button class="button button-dark button-block  ion-checkmark button-full"> Save</button>
        </form>
    </ion-content>
</ion-view>